@import "https://fonts.googleapis.com/css?family=Ubuntu:500";
@import "https://fonts.googleapis.com/css?family=Lato:400,700,900&subset=latin,latin-ext";
* {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  padding: 0;
  background: #f8f8f8; }

/*header */
.chevron {
  display: inline-block;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  font-weight: 700; }

nav.navbar {
  border: none;
  background-color: #fff;
  text-transform: uppercase;
  height: 90px;
  margin: 0; }
  nav.navbar .navbar-header {
    padding: 0 10px; }
  nav.navbar a.navbar-brand {
    height: auto;
    margin-left: 0 !important;
    padding: 20px 15px; }
    nav.navbar a.navbar-brand img {
      height: 50px; }
  nav.navbar .container-fluid {
    padding: 0; }
  nav.navbar .container-fluid .collapse.navbar-collapse > ul.nav,
  nav.navbar .container-fluid .collapsing > ul.nav {
    float: right; }
  nav.navbar .container-fluid .collapse.navbar-collapse > ul > li,
  nav.navbar .container-fluid .collapsing > ul > li {
    height: 90px; }
    nav.navbar .container-fluid .collapse.navbar-collapse > ul > li.open > a,
    nav.navbar .container-fluid .collapsing > ul > li.open > a {
      background: white !important; }
    nav.navbar .container-fluid .collapse.navbar-collapse > ul > li.lang a,
    nav.navbar .container-fluid .collapsing > ul > li.lang a {
      margin-top: 10px;
      display: inline-block;
      color: #11abcf;
      text-decoration: none; }
      nav.navbar .container-fluid .collapse.navbar-collapse > ul > li.lang a:first-of-type,
      nav.navbar .container-fluid .collapsing > ul > li.lang a:first-of-type {
        padding: 25px 0 25px 40px; }
      nav.navbar .container-fluid .collapse.navbar-collapse > ul > li.lang a:last-of-type,
      nav.navbar .container-fluid .collapsing > ul > li.lang a:last-of-type {
        padding: 25px 40px 25px 0; }
    nav.navbar .container-fluid .collapse.navbar-collapse > ul > li a,
    nav.navbar .container-fluid .collapsing > ul > li a {
      padding: 35px 15px;
      font-size: 15px; }
      nav.navbar .container-fluid .collapse.navbar-collapse > ul > li a:hover,
      nav.navbar .container-fluid .collapsing > ul > li a:hover {
        text-decoration: none; }
    nav.navbar .container-fluid .collapse.navbar-collapse > ul > li ul,
    nav.navbar .container-fluid .collapsing > ul > li ul {
      background-color: #f4f4f4;
      padding: 0;
      border: none;
      border-radius: 0;
      white-space: nowrap; }
      nav.navbar .container-fluid .collapse.navbar-collapse > ul > li ul li,
      nav.navbar .container-fluid .collapsing > ul > li ul li {
        padding: 15px 15px;
        list-style-type: none; }
        nav.navbar .container-fluid .collapse.navbar-collapse > ul > li ul li:hover,
        nav.navbar .container-fluid .collapsing > ul > li ul li:hover {
          background-color: #fdfdfd; }
        nav.navbar .container-fluid .collapse.navbar-collapse > ul > li ul li a,
        nav.navbar .container-fluid .collapsing > ul > li ul li a {
          padding: 0;
          color: #777; }
          nav.navbar .container-fluid .collapse.navbar-collapse > ul > li ul li a:hover,
          nav.navbar .container-fluid .collapsing > ul > li ul li a:hover {
            background: inherit; }
  nav.navbar .container-fluid .collapsing ul,
  nav.navbar .container-fluid .collapse.in ul {
    float: none; }

/*carousel */
.box {
  margin-top: 90px;
  padding: 0; }

.item {
  height: 70vh; }
  .item:first-of-type {
    background: url(img/building.jpg) 0/cover no-repeat; }
  .item:nth-of-type(2) {
    background: url(img/industry.jpg) 0/cover no-repeat; }
  .item:nth-of-type(3) {
    background: url(img/sea.jpg) 0/cover no-repeat; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.2);
  height: 200px;
  width: 700px;
  margin: 0 auto;
  top: 37%;
  left: 10px;
  color: white; }
  .carousel-caption a {
    text-decoration: none;
    color: white; }
  .carousel-caption h1 {
    color: #fff;
    padding-left: 30px;
    position: relative;
    text-align: left;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase; }
  .carousel-caption h2 {
    font-size: 25px;
    text-align: left;
    margin-bottom: 30px;
    padding-left: 30px; }
  .carousel-caption small {
    color: #fff;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    right: 30px; }

/*services */
h2 {
  margin: 0;
  font-size: 1.8em; }

.services {
  padding-bottom: 90px; }
  .services p {
    color: #6b6b6b;
    margin-top: 15px;
    line-height: 25px; }
  .services h1 {
    margin-left: 15px; }
  .services h2 {
    color: #323232;
    font-weight: 700;
    font-size: 23px; }

.service-icon {
  font-size: 60px;
  margin-top: 5px;
  margin-bottom: 20px; }

.container-gray {
  padding-top: 90px; }

/*form */
.forms {
  background-color: #2e3639;
  overflow: hidden;
  padding: 30px 0;
  color: #ccc; }

.conect-cont {
  padding: 20px 0; }
  .conect-cont h3 {
    font-size: 3.4rem;
    color: #fff;
    font-weight: 700; }
  .conect-cont p {
    font-size: 1.8rem; }

.formname {
  padding-top: 43px; }
  .formname textarea {
    height: 119px;
    min-height: 119px; }
  .formname .form-control {
    background-color: #434b4e;
    color: #cdcdcd;
    border: 0;
    padding: 16px 18px;
    height: 52px; }
  .formname .btn-primary {
    background-color: #00abc9;
    padding: 16px 48px;
    font-size: 1.6rem;
    display: block; }
    .formname .btn-primary:hover {
      background-color: #33defc; }

/*news */
.news p {
  color: #6b6b6b;
  margin-top: 10px; }
.news a {
  color: #11abcf;
  text-decoration: none; }
.news h2 {
  margin-top: 20px; }

/*clients */
.clients {
  padding-top: 90px;
  padding-bottom: 90px; }

  /*faq*/
.faq {
  padding: 90px 0;
}
/*footer */
footer {
  font-family: "Ubuntu";
  font-size: 12px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 5px;
  background-color: #333;
  color: #a6a6a7; }
  footer > * {
    float: none !important;
    display: inline-block; }
  footer li a {
    text-transform: uppercase;
    color: #fff; }
  footer .foot-cont {
    order: 0;
    line-height: 50px;
    height: 50px; }
  footer ul.nav {
    order: 1;
    display: flex;
    justify-content: center; }
    footer ul.nav li {
      float: none;
      display: inline-block; }
  footer .foot-form {
    order: 2;
    display: flex;
    justify-content: space-around;
    align-content: center; }
    footer .foot-form input {
      display: inline-block;
      width: 200px;
      height: 34px;
      margin: 0 5px;
      background-color: #434B4E;
      border: 0; }
    footer .foot-form label {
      line-height: 34px;
      margin-right: 5px; }
    footer .foot-form button {
      margin: 0 0 3px 5px; }

.address {
  background-color: #384246;
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: 14px;
  color: #fff; }
  .address h4 {
    font-size: 16px;
    font-weight: 700;
    text-align: center; }
  .address address {
    font-weight: lighter; }
  .address a {
    color: #A9C7D2;
    text-decoration: none; }

.address a:hover,
.news a:hover,
.lang a:hover {
  color: #1bc5ec; }

.clients .flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }
  .clients .flex-row .client-logo {
    display: inline-block;
    flex-basis: 20%; }
    .clients .flex-row .client-logo img {
      display: block;
      margin: 0 auto;
      width: 80%;
      height: auto; }

.address h4 {
  padding-bottom: 30px; }

.clients img {
  height: 80px; }

.clients h1,
.news h1,
.services h1 {
  color: #323232;
  font-weight: 700;
  padding-bottom: 30px; }

@media (max-width: 1200px) {
  .carousel .carousel-control {
    display: none; }
  .carousel .carousel-inner .item .carousel-caption {
    top: 0;
    position: relative;
    height: auto;
    width: 100%;
    left: 0;
    padding: 30px;
    background: rgba(0, 0, 0, 0.4); }
    .carousel .carousel-inner .item .carousel-caption h1,
    .carousel .carousel-inner .item .carousel-caption h2 {
      padding: 0; }

  footer ul.nav {
    order: 0;
    flex-basis: 100%; } }
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-collapse.collapse.in {
    display: block !important; }

  .navbar-header .collapse, .navbar-toggle {
    display: block !important; }

  .navbar-header {
    float: none; } }
@media (max-width: 992px) {
  nav.navbar .container-fluid .navbar-header button {
    margin-top: 25px;
    margin-right: 25px; }
  nav.navbar .container-fluid .collapse.navbar-collapse,
  nav.navbar .container-fluid .collapsing,
  nav.navbar .container-fluid .collapse.navbar-collapse {
    height: auto; }
    nav.navbar .container-fluid .collapse.navbar-collapse ul.nav,
    nav.navbar .container-fluid .collapsing ul.nav,
    nav.navbar .container-fluid .collapse.navbar-collapse ul.nav {
      float: none;
      width: 100%;
      background: white; }
      nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li,
      nav.navbar .container-fluid .collapsing ul.nav li,
      nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li {
        position: relative;
        display: block;
        height: auto;
        width: 100%; }
        nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li.lang a,
        nav.navbar .container-fluid .collapsing ul.nav li.lang a,
        nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li.lang a {
          margin-top: 0; }
        nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li.lang a:first-of-type,
        nav.navbar .container-fluid .collapsing ul.nav li.lang a:first-of-type,
        nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li.lang a:first-of-type {
          padding: 10px 15px; }
        nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li.lang a:last-of-type,
        nav.navbar .container-fluid .collapsing ul.nav li.lang a:last-of-type,
        nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li.lang a:last-of-type {
          padding: 10px 15px; }
        nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li a,
        nav.navbar .container-fluid .collapsing ul.nav li a,
        nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li a {
          padding: 10px;
          font-size: 15px; }
        nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li ul,
        nav.navbar .container-fluid .collapsing ul.nav li ul,
        nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li ul {
          position: static;
          box-shadow: none; }
          nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li ul li,
          nav.navbar .container-fluid .collapsing ul.nav li ul li,
          nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li ul li {
            padding: 0; }
            nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li ul li a,
            nav.navbar .container-fluid .collapsing ul.nav li ul li a,
            nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li ul li a {
              padding: 15px 10px; }

  .carousel-caption {
    padding: 30px; }

  .news {
    padding-left: 30px;
    padding-right: 30px; }
    .news img {
      margin: 0 auto; } }
@media (max-width: 768px) {
  nav.navbar .container-fluid .collapse.navbar-collapse,
  nav.navbar .container-fluid .collapsing,
  nav.navbar .container-fluid .collapse.navbar-collapse {
    height: auto;
    max-height: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none; }
    nav.navbar .container-fluid .collapse.navbar-collapse ul.nav,
    nav.navbar .container-fluid .collapsing ul.nav,
    nav.navbar .container-fluid .collapse.navbar-collapse ul.nav {
      float: none;
      width: 100%;
      margin: 0;
      background: white; }
      nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li:not(.lang),
      nav.navbar .container-fluid .collapsing ul.nav li:not(.lang),
      nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li:not(.lang) {
        position: relative;
        display: block;
        height: auto;
        width: 100%; }
        nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li:not(.lang) a,
        nav.navbar .container-fluid .collapsing ul.nav li:not(.lang) a,
        nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li:not(.lang) a {
          padding: 10px;
          font-size: 15px; }
        nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li:not(.lang) ul,
        nav.navbar .container-fluid .collapsing ul.nav li:not(.lang) ul,
        nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li:not(.lang) ul {
          position: static;
          box-shadow: none; }
          nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li:not(.lang) ul li,
          nav.navbar .container-fluid .collapsing ul.nav li:not(.lang) ul li,
          nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li:not(.lang) ul li {
            padding: 0; }
            nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li:not(.lang) ul li a,
            nav.navbar .container-fluid .collapsing ul.nav li:not(.lang) ul li a,
            nav.navbar .container-fluid .collapse.navbar-collapse ul.nav li:not(.lang) ul li a {
              padding: 15px 10px; }

  .clients .flex-row .client-logo {
    flex-basis: 33%; }

  footer {
    padding: 0;
    margin: 0; }
    footer ul.nav {
      padding: 0;
      margin: 0; }
    footer .foot-form {
      flex-basis: 100%;
      text-align: center;
      justify-content: center; }
    footer .foot-cont {
      order: 3;
      text-align: center;
      flex-basis: 100%; } }
@media (max-width: 544px) {
  .clients .flex-row .client-logo {
    flex-basis: 50%; }

  footer ul.nav {
    flex-flow: column; }
    footer ul.nav li {
      display: block;
      width: 100%;
      text-align: center; }
  footer .foot-form {
    flex-flow: column wrap;
    align-items: space-around; }
    footer .foot-form input {
      margin: 5px auto; }
    footer .foot-form button {
      margin: 10px auto;
      display: block;
      width: 120px; } }

/*# sourceMappingURL=style.css.map */
