@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:500);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&subset=latin,latin-ext);

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

.logo {
	height: 50px;
}

.nav-logo {
	padding: 0 15px;
}

/*menu*/

.lang {
	/*margin: 15px 10px;*/
	
	margin-top: 15px;
	margin-right: 25px;
}


.navbar {
	padding-bottom: 15px;
}

.container-narrow {
	width: 90%;
	margin: 0 auto;
}

.navi {
	background-color: #fff;
	padding-top: 15px;
	
}

.navi-link {
	text-transform: uppercase;
}

.glyphicon-chevron-down {
	font-size: 0.75em;
}

.chevron {
	display: inline-block;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	font-weight: bold;
}

nav ul{
  position: relative;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

ul li a:hover{
  text-decoration: none;
}

nav ul ul {
	background-color: #FFF; 
	position: absolute;
	padding: 0; 
}

nav ul ul li{
  padding: 10px 15px;
  list-style-type: none;
}

nav ul ul li:hover {
	background-color: #F8F8F8;
}

nav ul ul li a{
  color: #777;
}

nav ul ul li a:hover{
  color: #6B6B6B;
}

/*carousel*/
.item{
	height: 400px;
	
}
.carousel-caption {
	background-color: rgba(0, 0, 0, 0.4);
	height: 200px;
	width: 700px;
	margin: 0 auto;
	top: 25%;
}
.carousel-caption a{
	text-decoration: none;
}
.carousel-caption h1{
	color: #fff;
	padding: 10px;
	position: relative;
	text-align: left;
	text-transform: uppercase;
	font-size: 25px;
	}
.carousel-caption h1 span{
	font-weight: bold;
	font-size: 30px;
}
.carousel-caption h1 small{
	padding-left: 90%;
	color: #fff;
	font-size: 12px;
}



.box {
	margin-top: 81px;
	/*margin-bottom: 50px;*/
	padding: 0px;
}

.icon {
	font-size: 3em;
}

h2 {
	margin:  0;
	font-size: 1.8em;
}

/*services*/
.services {
	background-color: #F8F8F8;
	padding-top: 90px;
	padding-bottom: 90px;

}

.services .col-lg-10 {
	padding: 0 20px;
}

.services p {
	color: #6B6B6B;
}

.services h2 {
	color: #323232;
}

.service-icon {
	font-size: 1.5em;
}

/*clients*/

.clients h1 {
	color: #323232;
	font-weight: 700;
}
/*clients-end*/

.forms {
	background-color: #2e3639;
	overflow: hidden;
	padding: 60px 0;
	color: #ccc;
}
.formname {
	padding-top: 43px;
}
.conect-cont h3{
	font-size:3.4rem;
	color: #fff;
	font-weight:700;
}	
.conect-cont {
	padding: 20px;
}
.btn-primary {
	background-color: #00abc9;
	padding: 16px 48px;
	font-size: 1.6rem;
}
.btn-primary:hover {
	background-color: #33DEFC;
}
.form-control {
	background-color: #434b4e;
	color: #cdcdcd;
	border: 0;
	padding: 12px 18px;
	height: 48px;
}

.form-group label {
	font-weight:300;
}

.conect-cont p {
	font-size: 1.8rem;
}

.client{
	margin: 30px 0;
}

/*hr{

	width: 100%;
	position: absolute;
	left: 0px;
	border-top: 1px solid #5B9BD5;
	margin-bottom: 10px;
}*/

footer {
	font-family: 'Ubuntu';
	font-size: 12px;
	height: 50px;
	background-color: #333;
	color: #A6A6A7;
}

footer li a {
	color: #fff;
} 

.foot-form {
	padding-top: 1px;
}

.foot-cont {
	display: inline;
	padding-top: 15px;
}