@import  "https://fonts.googleapis.com/css?family=Ubuntu:500"
@import  "https://fonts.googleapis.com/css?family=Lato:400,700,900&subset=latin,latin-ext"

$main-font: 'Lato',sans-serif
$carousel-img-1:  url(img/building.jpg)
$carousel-img-2:  url(img/industry.jpg)
$carousel-img-3:  url(img/sea.jpg)

*
	box-sizing: border-box

body
	font-family: $main-font
	font-size: 16px
	overflow-x: hidden
	padding: 0
	background: #f8f8f8

/*header*/

.chevron
	display: inline-block
	transform: rotate(90deg)
	-ms-transform: rotate(90deg)
	-webkit-transform: rotate(90deg)
	font-weight: 700

nav.navbar
	border: none
	background-color: #fff
	text-transform: uppercase
	height: 90px
	margin: 0
	.navbar-header
		padding: 0 10px
	a.navbar-brand
		height: auto
		margin-left: 0 !important
		padding: 20px 15px
		img
			height: 50px
	.container-fluid
		padding: 0
	.container-fluid .collapse.navbar-collapse,
	.container-fluid .collapsing
		& > ul
			&.nav
				float: right
			& > li
				height: 90px
				&.open >  a
					background: white !important
				&.lang
					a
						margin-top: 10px
						display: inline-block
						color: #11abcf
						text-decoration: none
						&:first-of-type
							padding: 25px 0 25px 40px
						&:last-of-type
							padding: 25px 40px 25px 0
				// &:hover > ul
				// 	display: block
				a
					padding: 35px 15px
					font-size: 15px
					&:hover
						text-decoration: none
				ul
					background-color: #f4f4f4
					padding: 0
					border: none
					border-radius: 0
					white-space: nowrap
					li
						padding: 15px 15px
						list-style-type: none
						&:hover
							background-color: #fdfdfd
						a
							padding: 0
							color: #777
							&:hover
								background: inherit
	.container-fluid .collapsing,
	.container-fluid .collapse.in
		ul
			float: none

/*carousel*/
.box
	margin-top: 90px
	padding: 0

.item
	height: 70vh
	&:first-of-type
		background: $carousel-img-1 0/cover no-repeat
	&:nth-of-type(2)
		background: $carousel-img-2 0/cover no-repeat
	&:nth-of-type(3)
		background: $carousel-img-3 0/cover no-repeat

.carousel-caption
	background-color: rgba(0,0,0,0.2)
	height: 200px
	width: 700px
	margin: 0 auto
	top: 37%
	left: 10px
	color: white
	a
		text-decoration: none
		color: white
	h1
		color: #fff
		padding-left: 30px
		position: relative
		text-align: left
		font-weight: 700
		font-size: 30px
		text-transform: uppercase
	h2
		font-size: 25px
		text-align: left
		margin-bottom: 30px
		padding-left: 30px
	small
		color: #fff
		font-size: 15px
		position: absolute
		bottom: 20px
		right: 30px

/*services*/


h2
	margin: 0
	font-size: 1.8em

.services
	padding-bottom: 90px
	p
		color: #6b6b6b
		margin-top: 15px
		line-height: 25px
	h1
		margin-left: 15px
	h2
		color: #323232
		font-weight: 700
		font-size: 23px


.service-icon
	font-size: 60px
	margin-top: 5px
	margin-bottom: 20px

.container-gray
	padding-top: 90px

/*form*/

.forms
	background-color: #2e3639
	overflow: hidden
	padding: 30px 0
	color: #ccc

.conect-cont
	padding: 20px 0
	h3
		font-size: 3.4rem
		color: #fff
		font-weight: 700
	p
		font-size: 1.8rem

.formname
	padding-top: 43px
	textarea
		height: 119px
		min-height: 119px
	.form-control
		background-color: #434b4e
		color: #cdcdcd
		border: 0
		padding: 16px 18px
		height: 52px
	.btn-primary
		background-color: #00abc9
		padding: 16px 48px
		font-size: 1.6rem
		display: block
		&:hover
			background-color: #33defc

/*news*/

.news
	p
		color: #6b6b6b
		margin-top: 10px
	a
		color: #11abcf
		text-decoration: none
	h2
		margin-top: 20px

/*clients*/

.clients
	padding-top: 90px
	padding-bottom: 90px


/*footer*/

footer
	font-family: 'Ubuntu'
	font-size: 12px
	display: flex
	flex-flow: row wrap
	justify-content: space-around
	align-items: center
	padding: 0 5px
	background-color: #333
	color: #a6a6a7
	> *
		float: none !important
		display: inline-block
	li a
		text-transform: uppercase
		color: #fff
	.foot-cont
		order: 0
		line-height: 50px
		height: 50px
	ul.nav
		order: 1
		display: flex
		justify-content: center
		li
			float: none
			display: inline-block
	.foot-form
		order: 2
		display: flex
		justify-content: space-around
		align-content: center
		input
			display: inline-block
			width: 200px
			height: 34px
			margin: 0 5px
			background-color: #434B4E
			border: 0
		label
			line-height: 34px
			margin-right: 5px
		button
			margin: 0 0 3px 5px

.address
	background-color: #384246
	padding-top: 45px
	padding-bottom: 45px
	font-size: 14px
	color: #fff
	h4
		font-size: 16px
		font-weight: 700
		text-align: center
	address
		font-weight: lighter
	a
		color: #A9C7D2
		text-decoration: none


.address a:hover,
.news a:hover,
.lang a:hover
	color: #1bc5ec

.clients .flex-row
	display: flex
	flex-flow: row wrap
	justify-content: space-around
	align-items: center
	.client-logo
		display: inline-block
		flex-basis: 20%
		img
			display: block
			margin: 0 auto
			width: 80%
			height: auto
.address h4
	padding-bottom: 30px
.clients img
	height: 80px
.clients,
.news,
.services
	h1
		color: #323232
		font-weight: 700
		padding-bottom: 30px
@media (max-width: 1200px)
	.carousel
		.carousel-control
			display: none
		.carousel-inner
			.item
				.carousel-caption
					top: 0
					position: relative
					height: auto
					width: 100%
					left: 0
					padding: 30px
					background: rgba(0, 0, 0, 0.4)
					h1,
					h2
						padding: 0
	footer
		ul.nav
			order: 0
			flex-basis: 100%
@media (min-width: 768px) and (max-width: 991px)
	.navbar-collapse.collapse
		display: none !important
	.navbar-collapse.collapse.in
		display: block !important
	.navbar-header .collapse, .navbar-toggle
		display: block !important
	.navbar-header
		float: none
@media (max-width: 992px)
	nav.navbar
		.container-fluid
			.navbar-header
				button
					margin-top: 25px
					margin-right: 25px
			.collapse.navbar-collapse,
			.collapsing,
			.collapse.navbar-collapse
				height: auto
				ul.nav
					float: none
					width: 100%
					background: white
					li
						padding-left: 20px
						position: relative
						display: block
						height: auto
						width: 100%
						&.lang
							a
								margin-top: 0
							a:first-of-type
								padding: 10px 15px
							a:last-of-type
								padding: 10px 15px
						a
							padding: 10px
							font-size: 15px
						ul
							position: static
							box-shadow: none
							li
								padding: 0
								a
									padding: 15px 10px
	.carousel-caption
		padding: 30px
	.news
		padding-left: 30px
		padding-right: 30px
		img
			margin: 0 auto
@media (max-width: 768px)
	nav.navbar
		.container-fluid
			.collapse.navbar-collapse,
			.collapsing,
			.collapse.navbar-collapse
				height: auto
				max-height: none
				width: 100%
				margin: 0
				padding: 0
				border: none
				ul.nav
					float: none
					width: 100%
					margin: 0
					background: white
					li:not(.lang)
						position: relative
						display: block
						height: auto
						width: 100%
						a
							padding: 10px
							font-size: 15px
						ul
							position: static
							box-shadow: none
							li
								padding: 0
								a
									padding: 15px 10px
	.clients .flex-row .client-logo
		flex-basis: 33%
	footer
		padding: 0
		margin: 0
		ul.nav
			padding: 0
			margin: 0
		.foot-form
			flex-basis: 100%
			text-align: center
			justify-content: center
		.foot-cont
			order: 3
			text-align: center
			flex-basis: 100%
@media (max-width: 544px)
	.clients .flex-row .client-logo
		flex-basis: 50%
	footer
		ul.nav
			flex-flow: column
			li
				display: block
				width: 100%
				text-align: center
		.foot-form
			flex-flow: column wrap
			align-items: space-around
			input
				margin: 5px auto
			button
				margin: 10px auto
				display: block
				width: 120px