@import  "https://fonts.googleapis.com/css?family=Ubuntu:500";
@import  "https://fonts.googleapis.com/css?family=Lato:400,700,900&subset=latin,latin-ext";
* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato',sans-serif;
	font-size: 16px;
	overflow-x: hidden;
	padding: 0;
}

.logo {
	height: 50px;
}
.navbar-header,
.navbar-header a.navbar-brand {
	height: 85px;
}
.nav-logo {
	padding: 20px 15px;
}
ul.nav {
	float: right;
}
/*menu*/
.lang {

}

nav.navbar ul li.lang a {
	display: inline-block;
	color: #11abcf;
	text-decoration: none;
}
nav.navbar ul li.lang a:first-of-type {
	padding: 25px 0 25px 40px;
}
nav.navbar ul li.lang a:last-of-type {
	padding: 25px 40px 25px 0;
}

.navbar {
	height: 85px;
	margin: 0;
}

.container-narrow {
	width: 90%;
	margin: 0 auto;
}

.navi {
	border: none;
	background-color: #fff;
}

.navi-link {
	text-transform: uppercase;
}

.glyphicon-chevron-down {
	font-size: .75em;
}

.chevron {
	display: inline-block;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	font-weight: 700;
}

nav ul {
	position: relative;
}
nav > ul > li {
	height: 85px;
	padding: 8px 0;
}
nav.navbar ul li a {
	padding: 25px 15px;
	font-size: 15px;
}
nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

ul li a:hover {
	text-decoration: none;
}

nav ul ul {
	background-color: #f4f4f4;
	position: absolute;
	margin-top: 7px;
	margin-left: 14px;
	padding: 0;
	white-space: nowrap;
}

nav ul ul li {
	padding: 15px 15px;
	list-style-type: none;
}
nav.navbar ul li ul li a {
	padding: 0;
}

nav ul ul li:hover {
	background-color: #fdfdfd;
}

nav ul ul li a {
	color: #777;
}

nav ul ul li a:hover {
	color: #6b6b6b;
}

/*carousel*/
.box {
	margin-top: 85px;
}
.carousel,.carousel-inner,.carousel-inner > .item {
	height: 70vh;
}

.carousel-inner > .item:first-of-type {
	background: url(img/building.jpg) 0/cover no-repeat;
}

.carousel-inner > .item:nth-of-type(2) {
	background: url(img/industry.jpg) 0/cover no-repeat;
}

.carousel-inner > .item:nth-of-type(3) {
	background: url(img/sea.jpg) 0/cover no-repeat;
}

.carousel-caption {
	background-color: rgba(0,0,0,0.2);
	height: 200px;
	width: 700px;
	margin: 0 auto;
	top: 37%;
	left: 10px;
	color: white;
}

.carousel-caption a {
	text-decoration: none;
	color: white;
}

.carousel-caption h1 {
	color: #fff;
	padding-left: 30px;
	position: relative;
	text-align: left;
	text-transform: uppercase;
	font-size: 25px;
}

.carousel-caption h1 span {
	font-weight: 700;
	font-size: 30px;
}

.carousel-caption h1 small {
	padding-left: 90%;
	color: #fff;
	font-size: 12px;
}

.box {
	padding: 0;
}

.icon {
	font-size: 3em;
}

h2 {
	margin: 0;
	font-size: 1.8em;
}

/*services*/
.container-gray {
	background-color: #f8f8f8;
	padding-top: 90px;
	padding-bottom: 90px;
}

.services .col-lg-10 {
	padding: 0 20px;
}

.services p {
	color: #6b6b6b;
	margin-top: 15px;
	line-height: 25px;
}

.services h2 {
	color: #323232;
	font-weight: 700;
	font-size: 23px;
}

.service-icon {
	font-size: 60px;
	margin-top: 5px;
	margin-bottom: 20px;
}

/*news*/
.news .col-lg-5 {
	padding: 0 60px;
}

.news p {
	color: #6b6b6b;
	margin-top: 10px;
}

.news a {
	color: #11abcf;
	text-decoration: none;
}

.news h2 {
	margin-top: 20px;
}

/*clients*/
.clients h1,.news h1,.services h1 {
	color: #323232;
	font-weight: 700;
}

.services h1 {
	margin-left: 15px;
}

.clients {
	padding-top: 90px;
	padding-bottom: 90px;
}

/*.client {
	margin: 30px 0;
}*/
/*clients-end*/
.forms {
	background-color: #2e3639;
	overflow: hidden;
	padding: 30px 0;
	color: #ccc;
}

.formname {
	padding-top: 43px;
}

textarea.form-control {
	height: 119px;
	min-height: 119px;
}

.conect-cont h3 {
	font-size: 3.4rem;
	color: #fff;
	font-weight: 700;
}

.conect-cont {
	padding: 20px;
}

.btn-primary {
	background-color: #00abc9;
	padding: 16px 48px;
	font-size: 1.6rem;
	display: block;
	// margin: 0 auto;
}

.btn-primary:hover {
	background-color: #33defc;
}

.form-control {
	background-color: #434b4e;
	color: #cdcdcd;
	border: 0;
	padding: 16px 18px;
	height: 52px;
}

.form-group label {
	font-weight: 300;
}

.conect-cont p {
	font-size: 1.8rem;
}

/*hr{

	width: 100%;
	position: absolute;
	left: 0px;
	border-top: 1px solid #5B9BD5;
	margin-bottom: 10px;
}*/
/*footer*/
footer {
	font-family: 'Ubuntu';
	font-size: 12px;
	height: 50px;
	background-color: #333;
	color: #a6a6a7;
}

.footer {
	background-color: #333;
	padding-bottom: 25px;
}

footer li a {
	color: #fff;
}

.foot-form {
	padding-top: 9px;
	width: 420px;
	display: inline-block;
}

.foot-form input {
	display: inline-block;
	width: 200px;
	height: 34px;
}

form.foot-form label {
	margin-right: 5px;
}

form.foot-form input {
	margin: 0 5px;
}

.foot-form button {
	margin: 0 0 3px 5px;
}

.foot-cont {
	line-height: 50px;
}
.foot-cont,
.foot-cont ul,
.foot-cont ul li
.foot-cont a {
	height: 50px;
}
.foot-cont a {
	line-height: 50px;
}

.address h4 {
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}

.address {
	background-color: #384246;
	padding-top: 45px;
	padding-bottom: 45px;
/*font-family: 'Ubuntu';*/
	font-size: 14px;
	color: #fff;
}

address {
	font-weight: lighter;
}

.address a {
	color: #A9C7D2;
	text-decoration: none;
}

.address a:hover,.news a:hover,.lang a:hover {
	color: #1bc5ec;
}

.news h1,.clients h1,.services h1,.address h4 {
	padding-bottom: 30px;
}